<h1>Cookies</h1>

<div class="forsale">


  <div class="cookie cook_one">
    <div class="">
      <img class="cookieimg" src="<%= @cookie1.url %>" alt="">
    </div>

    <div class="text">
      <h3> <%= @cookie1.name %> </h3>
    </div>

    <div class="text">
      <p> $<%= @cookie1.price %></p>
    </div>
    <button class="text btn" type="button" name="button" onclick="buyCookie()" >Add to cart</button>

  </div>


  <div class="cookie cook_two">

    <div class="">
      <img class="cookieimg" src="<%= @cookie2.url %>" alt="">
    </div>

    <div class="text">
      <h3> <%= @cookie2.name %> </h3>
    </div>

    <div class="text">
      <p> $<%= @cookie2.price %></p>
    </div>


    <button class="text btn" type="button" name="button" onclick="buyCookie()" >Add to cart</button>

  </div>


  <div class="cookie cook_three">
    <div class="">
      <img class="cookieimg" src="<%= @cookie3.url %>" alt="">
    </div>

    <div class="text">
      <h3> <%= @cookie3.name %> </h3>
    </div>

    <div class="text">
      <p> $<%= @cookie3.price %></p>
    </div>

    <button class="text btn" type="button" name="button" onclick="buyCookie()" >Add to cart</button>

  </div>
</div>
