<h1>Pies</h1>

<div class="forsale">


<div class="pie p_one">
  <div class="">
    <img class="pieimg" src=<%= @pie1.url %> alt="">
  </div>

  <div class="text">
    <h3> <%= @pie1.name %> </h3>
  </div>

  <div class="text">
    <p> $<%= @pie1.price %></p>
  </div>

  <button class="text btn" type="button" name="button" onclick="getPie()">Add to cart</button>
</div>


<div class="pie p_two">

  <div class="">
    <img class="pieimg" src=<%= @pie2.url %> alt="">
  </div>

  <div class="text">
    <h3> <%= @pie2.name %> </h3>
  </div>

  <div class="text">
    <p> $<%= @pie2.price %></p>
  </div>

  <button class="text btn" type="button" name="button" onclick="getPie()">Add to cart</button>
</div>


<div class="pie p_three">

  <div class="">
    <img class="pieimg" src=<%= @pie3.url %> alt="">
  </div>

  <div class="text">
    <h3> <%= @pie3.name %> </h3>
  </div>

  <div class="text">
    <p> $<%= @pie3.price %></p>
  </div>

  <button class="text btn" type="button" name="button" onclick="getPie()">Add to cart</button>
</div>

</div>
